/* 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    /* button 요소에 기본적으로 설정되는 스타일 속성 초기화 */
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* 달력의 크기, 라운드, 배경 지정 */
.wrapper {
    width: 450px;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
}

/* 년도와 월 표시 및 이동 화살표 배치 */
.wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.wrapper .nav .current-date {
    font-size: 24px;
    font-weight: 600;
}
.wrapper .nav button {
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #878787;
}

/* 요일&날짜 가로로 배치 */
.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar .weeks li {
    font-weight: 500;
}
.calendar .days {
    margin-bottom: 20px;
}
.calendar ul li {
    /*요일과 날짜의 width 값 (calc() 함수를 이용하여서 100% / 7을 계산하여 width 잡기)*/
    width: calc(100% / 7);
    /*오늘의 날짜 표시 위치를 잡기 위한 Position*/
    position: relative;
}
.calendar .days li {
    /* li요소들을 z-index로 살짝 띄워주기 */
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
}

/* 이전 달의 날짜 색상 다르게 */
.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}
.calendar .days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}
.days li:hover::before {
    background: #f2f2f2;
}
.days li.active::before {
    background: #008aff;
}

/* Date Input Styling */
.date-select {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

input[type="date"] {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    color: #333;
    transition: border-color 0.3s;
}

input[type="date"]:focus {
    border-color: #008aff;
}