/* 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    height: 100vh;
}

.report-title {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header .admin {
    font-size: 18px;
}

.content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #242424;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar .button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
}

.sidebar .search {
    margin-top: 20px;
}

.sidebar .search label {
    display: block;
    margin-bottom: 5px;
}

.sidebar .search input,
.sidebar .search select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #464646;
    border: none;
    color: #fff;
}

.sidebar .search .date-range {
    display: flex;
    align-items: center;
}

.sidebar .search .date-range input {
    width: calc(50% - 10px);
}

.sidebar .search .date-range span {
    margin: 0 10px;
}

.sidebar .button.search-button {
    background-color: #5C88C4;
}

.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.data-table,
.previous-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.data-table {
    table-layout: fixed;
}

.data-table td,
.previous-table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.previous-table td {
    font-size: 10px;
}

.data-table th,
.data-table td,
.previous-table th,
.previous-table td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}

.data-table th,
.previous-table th {
    background-color: #242424;
}

.previous {
    margin-bottom: 20px;
}

.previous h2 {
    margin-top: 0;
}


.report h2 {
    margin-top: 0;
}

.report button {
    margin-bottom: 20px;
    margin-right: 8px;
    background-color: #555;
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}


.button.blue-button {
    background-color: #5C88C4;
    border-radius: 5px;
    border: none;
}

#left,
#right {
    color: #fff;
    width: 50px;
    height: 30px;
    margin-right: 10px;
}

.button-set {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#data-table tbody tr:hover td,
#previous-table tbody tr:hover td{
    background-color: #777777;
    cursor: pointer;
}

.box {
    display: flex;
}

.previous,
.report {
    width: 50%;
}

.previous,
.report {
    background-color: #242424;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 350px;
}

.date-table > thead > tr > th {
    font-size: 15px;
}

.previous-table > thead > tr > th {
    font-size: 10px
}

.info-box,
.report-box {
    display: flex;
}

.previous-id,
.previous-name,
.write-box,
.input-box {
    width: 50%;
}

.comment {
    resize: none;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: #464646;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    box-sizing: border-box;
}

.quest {
    resize: none;
    width: 90%;
    height: 160px;
    border-radius: 10px;
    background-color: #464646;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    box-sizing: border-box;
}

.input-box {
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: #464646;
    border-radius: 10px;
    padding: 10px
}

.inputText {
    width: 100%;
    height: 30px;
    background-color: #242424;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    color: #fff;
    border: none;
}

.reading-box {
    display: flex;
    justify-content: center;
}

#data-table tbody tr:hover {
    background-color: #9c9c9c; /* 회색 배경색 */
    cursor: pointer; /* 커서를 포인터로 변경 */
}

.data-table > thead > tr > th:nth-child(1) {
    width: 15%;
}

.data-table > thead > tr > th:nth-child(2) {
    width: 14%;
}

.data-table > thead > tr > th:nth-child(3) {
    width: 10%;
}

.data-table > thead > tr > th:nth-child(4) {
    width: 20%;
}

.data-table > thead > tr > th:nth-child(5) {
    width: 12%;
}

.data-table > thead > tr > th:nth-child(6) {
    width: 10%;
}

.data-table > thead > tr > th:nth-child(7) {
    width: 7%;
}

.data-table > thead > tr > th:nth-child(8) {
    width: 7%;
}

.data-table > thead > tr > th:nth-child(9) {
    width: 5%;
}

/* previous-table */

.previous-table > thead > tr > th:nth-child(1) {
    width: 13%;
}

.previous-table > thead > tr > th:nth-child(2) {
    width: 24%;
}

.previous-table > thead > tr > th:nth-child(3) {
    width: 18%;
}

.previous-table > thead > tr > th:nth-child(4) {
    width: 15%;
}

.previous-table > thead > tr > th:nth-child(5) {
    width: 10%;
}

.previous-table > thead > tr > th:nth-child(6) {
    width: 10%;
}

.previous-table > thead > tr > th:nth-child(7) {
    width: 10%;
}

tr:nth-child(even) td {
    background-color: #393939;
}

tr:nth-child(odd) td {
    background-color: #2f2f2f;
}

/* 달력 PART */
button {
    /* button 요소에 기본적으로 설정되는 스타일 속성 초기화 */
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    min-height: 100vh;*/
/*}*/

/* 달력의 크기, 라운드, 배경 지정 */
.wrapper {
    width: 210px; /* 기존 200px에서 250px로 조정 */
    border-radius: 10px;
    padding: 20px; /* 패딩을 25px에서 20px로 조정 */
    background-color: #464646;
}

/* 년도와 월 표시 및 이동 화살표 배치 */
.wrapper header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* 필요한 경우 가운데 정렬을 보장 */
}
.wrapper .nav .current-date {
    font-size: 13px;
    font-weight: 180;
}
.wrapper .nav button {
    width: 20px;
    height: 20px;
    font-size: 19px;
    color: #878787;
}

/* 요일&날짜 가로로 배치 */
.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar .weeks li {
    font-weight: 150;
    font-size: 10px;
}
.calendar .days {
    margin-bottom: 10px;
}
.calendar ul li {
    /*요일과 날짜의 width 값 (calc() 함수를 이용하여서 100% / 7을 계산하여 width 잡기)*/
    width: calc(100% / 7);
    /*오늘의 날짜 표시 위치를 잡기 위한 Position*/
    position: relative;
}
.calendar .days li {
    /* li요소들을 z-index로 살짝 띄워주기 */
    z-index: 1;
    margin-top: 10px;
    cursor: pointer;
}

/* 이전 달의 날짜 색상 다르게 */
.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}
.calendar .days li::before {
    position: absolute;
    content: '';
    height: 15px; /* 기존 13px에서 15px로 조정 */
    width: 15px; /* 기존 13px에서 15px로 조정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}
.days li:hover::before {
    background: #f2f2f2;
}
.days li.active::before {
    background: #008aff;
}

/* Date Input Styling */
.date-select {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 210px;
}

input[type="date"] {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    color: #333;
    transition: border-color 0.3s;
}

input[type="date"]:focus {
    border-color: #5C88C4;
}