body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.report-title {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header .admin {
    font-size: 18px;
}

.content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #242424;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar .button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
}

.sidebar .search {
    margin-top: 20px;
}

.sidebar .search label {
    display: block;
    margin-bottom: 5px;
}

.sidebar .search input,
.sidebar .search select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #464646;
    border: none;
    color: #fff;
}

.sidebar .search .date-range {
    display: flex;
    align-items: center;
}

.sidebar .search .date-range input {
    width: calc(50% - 10px);
}

.sidebar .search .date-range span {
    margin: 0 10px;
}

.sidebar .button.search-button {
    background-color: #5C88C4;
}

.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.data-table,
.previous-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.data-table {
    table-layout: fixed;
}

.data-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-table th,
.data-table td,
.previous-table th,
.previous-table td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}

.data-table th,
.previous-table th {
    background-color: #555;
}

.previous {
    margin-bottom: 20px;
}

.previous h2 {
    margin-top: 0;
}


.report h2 {
    margin-top: 0;
}

.report button {
    margin-bottom: 20px;
    margin-right: 8px;
    background-color: #555;
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}


.button.blue-button {
    background-color: #5C88C4;
    border-radius: 5px;
}

.button-set {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-table tbody tr:hover {
    background-color: #979797;
    cursor: pointer;
}

.box {
    display: flex;
}

.previous,
.report {
    width: 50%;
}

.previous,
.report {
    background-color: #242424;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 350px;
}

.date-table > thead > tr > th {
    font-size: 15px
}

.previous-table > thead > tr > th {
    font-size: 10px
}

.info-box,
.report-box {
    display: flex;
}

.previous-id,
.previous-name,
.write-box,
.input-box {
    width: 50%;
}

.comment {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: #464646;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    box-sizing: border-box;
}

.quest {
    width: 90%;
    height: 180px;
    border-radius: 10px;
    background-color: #464646;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    box-sizing: border-box;
}

.input-box {
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: #464646;
    border-radius: 10px;
    padding: 10px
}

.inputText {
    width: 100%;
    height: 30px;
    background-color: #242424;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    color: #fff;
    border: none;
}

.reading-box {
    display: flex;
    justify-content: center;
}

.data-table > thead > tr > th:nth-child(1) {
    width: 15%;
}

.data-table > thead > tr > th:nth-child(2) {
    width: 14%;
}

.data-table > thead > tr > th:nth-child(3) {
    width: 10%;
}

.data-table > thead > tr > th:nth-child(4) {
    width: 20%;
}

.data-table > thead > tr > th:nth-child(5) {
    width: 15%;
}

.data-table > thead > tr > th:nth-child(6) {
    width: 7%;
}

.data-table > thead > tr > th:nth-child(7) {
    width: 7%;
}

.data-table > thead > tr > th:nth-child(8) {
    width: 7%;
}

.data-table > thead > tr > th:nth-child(9) {
    width: 5%;
}




