.message-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    right: 10px;
    top: 50px;
    width: 600px;
    height: 600px;
    background-color: #464646;
    border: 1px solid #888;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.message-modal-content {
    padding: 20px;
}

#emptyMessage {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 20px;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#message-modal-body h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

#inbox-message-modal-body h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.mail-list-container {
    max-height: 430px;
    overflow-y: auto;
    padding-right: 15px;
}

/* Scrollbar Design */
.mail-list-container::-webkit-scrollbar {
    width: 10px;
}

.mail-list-container::-webkit-scrollbar-track {
    background: #888;
}

.mail-list-container::-webkit-scrollbar-thumb {
    background: #ccc;
}

.mail-list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sent-mail-list,
.inbox-mail-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sent-mail-list li,
.inbox-mail-list li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.sent-mail-list li:last-child,
.inbox-mail-list li:last-child {
    border-bottom: none;
}

.mail-sender {
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mail-recipient {
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mail-subject {
    padding-left: 15px;
    font-size: 18px;
    color: white;
}

.mail-time {
    align-self: flex-end;
    font-size: 12px;
    color: white;
}

/* Added Button Styles */
.mail-button,
.mail-write {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.mail-button {
    left: 20px;
    background-color: #464646;
}

.mail-write {
    right: 20px;
    background-color: #464646;
}

/* Anchor tag styles */
.mail-button a,
.mail-write a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.mail-button:hover,
.mail-write:hover {
    cursor: pointer;
    text-decoration: underline;
}

.write-container {
    position: relative;
    width: 650px;
    height: 700px;
    margin: 80px auto;
    padding: 30px;
    background-color: #464646;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.write-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write-container h1 {
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 20%;
    margin-right: 10px;
    color: white;
}

.form-group input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

#recipient {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

.user-list {
    width: 100px;
    padding: 10px;
    background-color: #5c88c4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.form-group-textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group-textarea textarea {
    width: 100%;
    height: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    resize: none;
}

.friend-list {
    background-color: #5C88C4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.char-count {
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 50px;*/
    align-self: flex-end;
    color: #ccc;
}

.write-button-group {
    position: relative;
    text-align: center;
}

button.cancel {
    position: absolute;
    bottom: -70px;
    left: calc(50% - 110px);
    background-color: #686868;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button.send {
    position: absolute;
    bottom: -70px;
    width: 110px;
    left: calc(50% + 10px);
    background-color: #5C88C4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.message-error-container {
    position: absolute;
    top: 640px;
    left: 35px;
    margin: 10px 0 0 0;
    color: #ff3f3f;
    width: 100%;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
}

.message-error-container > p {
    display: none;
}



/* modal.css */
.find-user-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.find-user-modal h2 {
    color: white;
}

.find-user-modal input {
    width: 350px;
    height: 45px;
    border-radius: 5px;
}

#find-user-button {
    color: white;
    background-color: #5c88c4;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.find-user-modal-content {
    background-color: #464646;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
}

.find-user-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.find-user-close:hover,
.find-user-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user-result {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    cursor: pointer;
}

.user-result:hover {
    background-color: #f1f1f1;
}

.no-result {
    color: white;
    margin: 30px 0 30px 10px;
}

#searchResults {
    margin-top: 30px;
}

.user-result {
    background-color: #686868;
    color: white;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
}







.mailbox-container {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 100vh;
}

#mailbox-sidebar {
    width: 200px;
    background-color: #3a3a3a; /* sidebar dark gray */
    border-right: 1px solid #444444; /* darker border */
}

.mailbox-menu-item {
    padding: 15px;
    cursor: pointer;
    color: #ffffff; /* white text */
}

#mailbox-menu-item-active, .mailbox-menu-item:hover {
    background-color: #505050; /* lighter gray on hover */
}

#mailbox-main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#mailbox-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #3a3a3a; /* same as sidebar */
    border-bottom: 1px solid #444444; /* darker border */
    color: white;
}

#mailbox-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #2e2e2e; /* dark background */
}

.mailbox-message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444444; /* darker border */
}

.mailbox-message.mailbox-read {
    background-color: #3a3a3a; /* same as sidebar */
}

.mailbox-message.mailbox-unread {
    background-color: #505050; /* lighter gray for unread messages */
}

.mailbox-message-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 10px; /* margin to separate from checkbox */
}

.mailbox-sender-unread {
    font-weight: bold;
    color: #ffffff; /* white text */
}

.mailbox-date-unread {
    color: #ffffff; /* light gray text */
}

.mailbox-sender,
.mailbox-recipient,
.mailbox-title
{
    font-weight: bold;
    color: #cccccc; /* white text */
}

.mailbox-title a {
    font-weight: bold;
    color: #cccccc;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.mailbox-date {
    color: #cccccc; /* light gray text */
}

#mailbox-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #3a3a3a; /* same as sidebar */
    border-top: 1px solid #444444; /* darker border */
}

.mailbox-footer-select, .mailbox-footer-input {
    background-color: #505050; /* lighter gray */
    color: #ffffff; /* white text */
    border: 1px solid #686868; /* darker border */
    padding: 10px;
    margin-right: 10px;
}

.mailbox-footer-button {
    background-color: #5C88C4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.mailbox-footer-button:hover {
    background-color: #4a74a3;
}

.mailbox-checkbox {
    margin-right: 10px; /* space between checkbox and message content */
}




.detail-container {
    width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.detail-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.detail-header-left,
.detail-header-right {
    display: flex;
}

.detail-button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.detail-title {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.detail-title span {
    font-size: 16px;
    font-weight: bold;
}

.detail-date {
    float: right;
    color: #888;
}

.detail-content {
    padding: 20px 0;
}

.detail-content p {
    margin: 0;
    padding: 5px 0;
}
