.message-modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 50px;
    width: 600px;
    height: 600px;
    background-color: #464646;
    border: 1px solid #888;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.message-modal-content {
    padding: 20px;
}

#emptyMessage {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 20px;
}

.mini-close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}

.mini-close:hover,
.mini-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#message-modal-body h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

#inbox-message-modal-body h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.mail-list-container {
    max-height: 430px;
    overflow-y: auto;
    padding-right: 15px;
}

.mail-list-container::-webkit-scrollbar {
    width: 10px;
}

.mail-list-container::-webkit-scrollbar-track {
    background: #888;
}

.mail-list-container::-webkit-scrollbar-thumb {
    background: #ccc;
}

.mail-list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sent-mail-list,
.inbox-mail-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sent-mail-list li,
.inbox-mail-list li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.sent-mail-list a,
.inbox-mail-list a {
    font-weight: bold;
    color: #cccccc;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.sent-mail-list li:last-child,
.inbox-mail-list li:last-child {
    border-bottom: none;
}

.mail-sender {
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mail-recipient {
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mail-subject {
    padding-left: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.mail-subject:hover {
    padding-left: 15px;
    font-size: 18px;
    color: #cccccc;
    cursor: pointer;
}

.mail-time {
    align-self: flex-end;
    font-size: 12px;
    color: white;
}

.mail-button,
.mail-write {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.mail-button {
    left: 20px;
    background-color: #464646;
}

.mail-write {
    right: 20px;
    background-color: #464646;
}

.mail-button a,
.mail-write a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.mail-button:hover,
.mail-write:hover {
    cursor: pointer;
    text-decoration: underline;
}





.messageWrite-message-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 850px;
    padding: 30px;
    background-color: #464646;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messageWrite-message-modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.messageWrite-message-modal h1 {
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.messageWrite-form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.messageWrite-form-group label {
    width: 20%;
    margin-right: 10px;
    color: white;
}

.messageWrite-form-group input[type="text"] {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

#recipient {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

.messageWrite-user-list {
    width: 100px;
    padding: 10px;
    background-color: #5c88c4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    height: 47px;
}

.messageWrite-user-list:hover {
    background-color: #4a74a3;
    cursor: pointer;
}

.messageWrite-form-group-textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 15px;
}

.messageWrite-form-group-textarea textarea {
    width: 100%;
    height: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    resize: none;
    margin-bottom: 15px;
}

.char-count-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.friend-list {
    background-color: #5C88C4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.char-count {
    color: #ccc;
}

.messageWrite-button-group {
    position: absolute;
    text-align: center;
    right: 270px;
    top: 770px;
}

button.messageWrite-cancel {
    background-color: #686868;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    height: 50px;
}

button.messageWrite-cancel:hover {
    background-color: #5e5e5e;
    cursor: pointer;
}

button.messageWrite-send {
    background-color: #5C88C4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
}

button.messageWrite-send:hover {
    background-color: #4a74a3;
    cursor: pointer;
}

.messageWrite-message-error-container {
    margin: 10px 0 0 0;
    color: #ff3f3f;
    width: 100%;
    font-size: 0.8em;
    line-height: 2.3em;
    text-align: left;
    position: absolute;
    top: 720px;
    left: 40px;
}

.messageWrite-message-error-container > p {
    display: none;
}

.messageWrite-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #aaa;
    font-size: 1.5em;
    cursor: pointer;
}

.messageWrite-close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}








.find-user-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.find-user-modal h2 {
    color: white;
    margin-bottom: 30px;
}

.find-user-modal input {
    width: 450px;
    height: 45px;
    border-radius: 5px;
    margin-right: 10px;
}

#find-user-button {
    color: white;
    background-color: #5c88c4;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.find-user-modal-content {
    background-color: #464646;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 15% auto;
    padding: 30px;
    width: 600px;
}

.find-user-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.find-user-close:hover,
.find-user-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user-result {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    cursor: pointer;
}

.user-result:hover {
    background-color: #f1f1f1;
}

.no-result {
    color: white;
    margin: 30px 0 30px 10px;
}

#searchResults {
    margin-top: 30px;
}

.user-result {
    background-color: #686868;
    color: white;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
}








.mailbox-container {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

#mailbox-sidebar {
    width: 200px;
    background-color: #3a3a3a;
    border-right: 1px solid #444444;
}

.mailbox-menu-item {
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
}

#mailbox-menu-item-active, .mailbox-menu-item:hover {
    background-color: #505050;
}

#mailbox-main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#mailbox-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #3a3a3a;
    border-bottom: 1px solid #444444;
    color: white;
}

#mailbox-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #2e2e2e;
}

.mailbox-message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444444;
}

.mailbox-message.mailbox-read {
    background-color: #3a3a3a;
}

.mailbox-message.mailbox-unread {
    background-color: #505050;
}

.mailbox-message-info {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.mailbox-sender-unread {
    font-weight: bold;
    color: #ffffff;
}

.mailbox-date-unread {
    color: #ffffff;
}

.mailbox-sender,
.mailbox-recipient,
.mailbox-title {
    font-weight: bold;
    color: #cccccc;
    flex-basis: 310px;
}

.mailbox-title {
    flex-grow: 1;
    text-align: left;
}

.mailbox-date {
    color: #cccccc;
    flex-basis: 100px;
    text-align: right;
}

#mailbox-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #3a3a3a;
}

.mailbox-footer-select, .mailbox-footer-input {
    background-color: #505050;
    color: #ffffff;
    border: 1px solid #686868;
    padding: 10px;
    margin-right: 10px;
}

.mailbox-footer-button {
    background-color: #5C88C4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.mailbox-footer-button:hover {
    background-color: #4a74a3;
}

.mailbox-checkbox {
    margin-right: 10px;
}









.notification-modal {
    display: none;
    background-color: #686868;
    position: fixed;
    z-index: 6;
    left: 45%;
    top: 1%;
    width: 400px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.notification-modal-content {
    padding: 20px;
    text-align: center;
    position: relative;
}

.notification-close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
}

.notification-close:hover {
    color: red;
}
