* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #383838;
    color: white;
}

.container {
    width: 100%;
    max-width: 1000px; /* 변경된 너비 */
    margin: 0 auto;
    padding: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 15px;
}

.blue-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 60px; /* Adjust to ensure it stops before the button */
    width: 5px;
    height: 490px;
    background-color: #5C88C4;
}

.signup-form input,
.signup-form select,
.signup-form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #464646;
    color: white;
}

.signup-form input::placeholder {
    color: #ccc;
}

.signup-form select {
    color: #ccc;
    background-color: #464646;
}

.signup-form button {
    margin: 30px;
    background-color: #5C88C4;
    color: white;
    border: none;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #4a74a3;
}

.error-container {
    margin: 10px 0 0 0;
    color: #ff3f3f;
    width: 100%;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
}

.error-container > p {
    display: none;
}

.table-container {
    margin-top: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #444;
}

table, th, td {
    border: 1px solid #555;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th.checkbox-cell, td.checkbox-cell {
    width: 2%;
    text-align: center;
}

th:nth-child(2), td:nth-child(2) { /* 아이디 */
    width: 10%;
}

th:nth-child(3), td:nth-child(3) { /* 이름 */
    width: 6%;
}

th:nth-child(4), td:nth-child(4) { /* 그룹 */
    width: 9%;
}

th:nth-child(5), td:nth-child(5) { /* 부서 */
    width: 14%;
}

th:nth-child(6), td:nth-child(6) { /* 직책 */
    width: 12%;
}

th:nth-child(7), td:nth-child(7) { /* 휴대폰번호 */
    width: 16%;
}

th:nth-child(8), td:nth-child(8) { /* 주소 */
    width: 16%;
}

th:nth-child(9), td:nth-child(9) { /* 신청일시 */
    width: 20%;
}

th {
    background-color: #555;
}

tr:nth-child(even) {
    background-color: #3a3a3a;
}

.checkbox-cell {
    width: 40px;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.actions button {
    margin-left: 10px;
}
